nav ul{
    display:flex;
    justify-content: space-around; 
    list-style-type: none;
}

@media only screen and (min-width: 1250px){

    ul:nth-child(3) li:nth-child(1){
        background-color: blue;
    }
    ul:nth-child(3) li:nth-child(2){
        color: green;
    }
    ul:nth-child(7) li:nth-child(2){
        color: blue;
        font-style: italic;
    }
}

@media only screen and (max-width: 1250px){

    ul:nth-child(5) li:nth-child(1){
        color: orange;
    }
    ul:nth-child(5) li:nth-child(2){
        color: red;
    }
}

@media only screen and (max-width: 1000px){

    ul:nth-child(7) li:nth-child(1){
       font-weight: bold;
       text-decoration: underline;
    }

}

@media only screen and (max-width: 800px){

    h2:nth-child(2){
       border: 1px solid;
       color: green;
    }

}

@media only screen and (min-width: 900px){

    h2:nth-child(2){
       border: 1px solid;
       color: green;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1250px){

    h2:nth-child(8){
       border: 1px solid;
       color: red;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1250px){

    h2:nth-child(10){
       border: 1px solid;
       color: red;
    }
    ul:nth-child(11) li{
        color: red;
        border: 1px solid;
    }

}

@media only screen and (max-width: 900px){

    div:nth-child(14){
        width: 125px;
        height: 125px;
        background: url(../images/tartine.jpg);
     background-size:cover;
    }

}


@media only screen and (min-width: 900px){

    div:nth-child(14){
        width: 250px;
        height: 250px;
        background: url(../images/tartine.jpg);
     background-size:cover;
    }
}
